<div class="container" id="all-users-container">
	<% if params[:id].nil? then%>
		<%= render partial: "user_tab", locals: { users: @users } %>
	<% else %>
		<%= render partial: "user_full", locals: { users: @users } %>
	<% end %>
</div>