<hr>
<h4 class="going attendance"><a>GOING</a><span class="badge"><%= event.getNumAttendees %></span></h4>
<hr>
<div class="attendee-section-<%= event.id %>">
<% for attendee in event.users do %>
	<%= render partial: "user_icon", locals: { attendee: attendee } %>
<% end %>
</div>