<div class="container" id="all-users-container">
	<% if params[:id].nil? then %>
		<%= render partial: "event_tab", locals: { events: @events } %>
	<% else %>
		<%= render partial: "event_full", locals: { events: @events } %>
	<% end %>
</div>