<div id="all-events-container">
	<% if params[:id].nil? then %>
		<% if !@events.blank? then %>
			<%= render partial: "event_tab", locals: { events: @events } %>
		<% else %>
			<div class="empty-account-prompt">
				<h5>you do not currently have any events to view</h5>
				<p><a href="/events/create">click here to create a new event</a></p>
			</div>
		<% end %>
	<% else %>
		<%= render partial: "event_full", locals: { events: @events } %>
	<% end %>
</div>