<div class="container" id="all-users-container">
	<% if params[:id].nil? then %>
		<% if !@events.blank? then %>
			<%= render partial: "event_tab", locals: { events: @events } %>
		<% else %>
			<h5>You do not currently have any events to view</h5>
			<p><a href="/events/create">click here to create a new event</a></p>
			<p><a href="/users/search_results">click here to add a new friend</a></p>
		<% end %>
	<% else %>
		<%= render partial: "event_full", locals: { events: @events } %>
	<% end %>
</div>