#website_title {
	text-align: center;
}

body {

}

#notice-banner {
	text-align: center;
	font-size: 20px;
	position: fixed;
	z-index: 10;
	top: 50%;
	height: 30px;
	width: 100%;
	background-color: #428bca;
	color: #fff;
}

.user-description-container {
	max-width: 360px;
}

.friend-request-heading {
	margin-top: 0px;
}

.ui-autocomplete li.ui-menu-item a.ui-state-focus {
	background-image: none;
	background-color: #428bca;
	color: #005580;
}


.ui-autocomplete li a{
	background-image: none;
	background-color: #fff;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #ddd;
}

#plus-button {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	box-shadow: 0px 3px 10px 1px #888;
}

.add-button {
	text-align: center;
	padding-right: 0;
	padding-left: 0;
	position: absolute;
	font-size: 12px;
}

.small-plus {
	font-size: 14px;
	height: 25px;
	padding-top: 0;
}

.by-label {
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.is-attending {
	text-align: center;
}

.square-profile-picture .square-image {
	width: 200px;
	height: 200px;
	min-width: 150px;
	margin: 0px auto;
}

.hidden-search {
	display: none;
}

.inline-icon .square-image {
	width: 40px;
	height: 40px;
	margin: 0px auto;
}

.square-image {
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
}

.circular-image {
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
}

.tab-image .circular-image {
	width: 75px;
	height: 75px;
	margin: 0px auto;
}

.empty-account-prompt {
	text-align: center;
}

.delete-button {
	margin-bottom: 20px;
}

.plus-filler{
	height: 20px;
}

.happening-now {
	background-color: #5cb85c;
	color: #003D00;
	box-shadow: 0px 0px 5px 1px #003D00;
}

.happening-soon {
	background-color: #FFFF85;
	color: #808000;
	box-shadow: 0px 0px 5px 1px #808000;
}

.happening-later {
	background-color: #f0ad4e;
	color: #993D00;
	box-shadow: 0px 0px 5px 1px #993D00;
}

.happending-default {
	background-color: #ddd;
	color: #ccc;
	box-shadow: 0px 0px 5px 1px #ccc;
}


#app_header {
	margin-bottom: 0;
	background-color: #eee;
	position: fixed;
	padding-left: 0;
	padding-right: 0;
	z-index: 100;
	width: 100%;
}

.event-info > li {
	list-style-type: none;
	font-weight: bold;
}

.event-info-container {
	position: relative;
	bottom: 5px;
	font-weight: bold;
	font-size: 12px;
}

.event-info-outline{
	min-width: 120px;
	background-color: #eee;
	color: #777;
	border-radius: 4px;
	border-style:solid;
	border-width:2px;
	border-color: #aaa;
	padding-right: 2px;
	padding-left: 1px;
	position: relative;
	bottom: 2px;
	left: 5px;
}

.relative-event-date {
	margin-top: 2px;
	text-align: center;
	font-size: 14px;
}

.relative-event-time {
	text-align: center;
	font-size: 10px
}

.event-info-cover {
	width: 120px;
	height: 40px;
	position: absolute;
	margin: auto;
	right: 0px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer; cursor: hand;
}

.event-info-padding {
	margin-right: 5px;
	margin-top: 3px;
}

.remove-friend-form {
	margin-top: 220px;
}

.more-info-indicator {
	position: absolute;
	margin: auto;
	bottom: 32px;
	right: 0px;
	font-size: 8px;
}

#app_nav > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

#login_form {
	padding-top: 150px;
}

textarea.about-field {
	height: 100px;
}

#logout_panel > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
width: 100%;
margin: 0;
}

.not-attending-event {
	background-color: #eee;
}

#all-users-container > .user {
	margin-top: 40px;
	background-color: #eee;
	max-width: 400px;
}

.user {
	box-shadow: 0px 0px 25px 5px #dddddd;
	border-radius: 6px;
	border: solid 1px;
	border-color: #ffffff;
}

.user-tab {
	box-shadow: 0px 0px 25px 5px #dddddd;
	border-radius: 6px;
	border: solid 1px;
	border-color: #ffffff;
}

.edit-user-image {
	margin: 0 auto;
}

#submit-button-block {
	border-radius: 0;
}

#search-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#all-users-container {
	padding-top: 120px;
	padding-bottom: 50px;
	max-width: 400px;
}

#all-events-container {
	padding-top: 155px;
	padding-bottom: 50px;
}

#create-user-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100
}

#edit-user-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100;
}

#add-event-bar {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-custom {
	background-color: #5bc0de;
	padding: 0;
}

#edit-filler {
	min-height: 35px;
}

.cancel-back-button {

}

#create-event-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100;
}

.error-message {
	color: red;
}

#edit-event-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100;
}

#app-nav-placeholder {
	height: 35px;
	background-color: #428bca;
}

#new-event-placeholder {
	height: 50px;
	background-color: #428bca;
}

#delete-account-form {
	margin-top: 155px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 25px 5px #dddddd;
	border-radius: 6px;
	border: solid 1px;
	border-color: #ffffff;
}

.delete-account-form-group {
	margin-bottom: 10px;
}

#delete-account-link {
	text-align: center;
}

#delete-account-question {
	text-align: center;
}

.attending-event {
	background-color: #95DB8F;
}

div.event-object {
	position: relative;
	max-width: 400px;
	box-shadow: 0px 0px 25px 5px #dddddd;
	border-radius: 6px;
	border: solid 1px;
	border-color: #ffffff;
}

button.edit-button {
	z-index: 10;
	position: absolute;
	left: 10px;
	top: 10px;
	box-shadow: 3px 3px 13px 1px #333;
}

div.user-tab-centered {
	margin-top: 16px;
}

div.fitted-event {
	max-width: inherit;
	width: auto;
}

hr.divide-user-tabs {
	margin-top: 5px;
	margin-bottom: 5px;
}

li.no-tab-spacing {
	margin-top: 0px;
}

.user-search-icon {
	max-height: 50px;
	max-width: 50px;
	display: inline-block;
}

.user-search-icon-container {
	display: inline-block;
}

img.edit-user-image {
	max-width: 200px;
	max-height: 200px;
}

.centered-search-tab-body {
	margin-top: 5px;
	margin-right: 5px;
	padding-left: 10px;
}

.lined-bottom {
	border-bottom: solid;
	border-width: 1px;
	border-color: #ddd;
}

.request-button {
	min-width: 80px;
}

.request-form {
	display: inline;
	max-width: 80px;
	padding: 0;
	margin: 0;
}

.event-media-list-spacing {
	padding-top: 10px;
}