#website_title {
	text-align: center;
}

body {

}

.happening-now {
	background-color: #5cb85c;
	color: #003D00;
}

.happening-soon {
	background-color: #FFFF85;
	color: #808000;
}

.happening-later {
	background-color: #f0ad4e;
	color: #993D00;
}

.happending-default {
	background-color: #ddd;
	color: #ccc;
}

#app_header {
	margin-bottom: 0;
	background-color: #eee;
	position: fixed;
	padding-left: 0;
	padding-right: 0;
	z-index: 100;
	width: 100%;
}

.event-info > li {
	list-style-type: none;
	font-weight: bold;
}

.event-info-container {
	position: relative;
	bottom: 5px;
	font-weight: bold;
	font-size: 12px;
}

.event-info-outline{
	min-width: 120px;
	background-color: #eee;
	border-radius: 4px;
	border-style:solid;
	border-width:2px;
	border-color: #aaa;
	padding-right: 2px;
	padding-left: 1px;
	position: relative;
	bottom: 2px;
	left: 5px;
}

.relative-event-date {
	margin-top: 2px;
	text-align: center;
	font-size: 14px;
}

.relative-event-time {
	text-align: center;
	font-size: 10px
}

.event-info-cover {
	width: 120px;
	height: 40px;
	position: absolute;
	margin: auto;
	right: 0px;
	border-radius: 4px;
	font-size: 14px;
}

.event-info-padding {
	margin-right: 5px;
	margin-top: 3px;
}

.more-info-indicator {
	position: absolute;
	margin: auto;
	bottom: 32px;
	right: 0px;
	font-size: 8px;
}

#app_nav > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

#login_form {
	padding-top: 150px;
}

textarea.about-field {
	height: 100px;
}

#logout_panel > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
width: 100%;
margin: 0;
}

.not-attending-event {
	background-color: #eee;
}

#all-users-container > .user {
	background-color: #eee;
	max-width: 400px;
}

.edit-user-image {
	margin: 0 auto;
}

#submit-button-block {
	border-radius: 0;
}

#search-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#all-users-container {
	padding-top: 150px;
	padding-bottom: 50px;
	max-width: 400px;
}

#all-events-container {
	padding-top: 150px;
	padding-bottom: 50px;
}

#create-user-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100
}

#edit-user-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100;
}

#add-event-bar {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-custom {
	background-color: #5bc0de;
	padding: 0;
}

#edit-filler {
	min-height: 35px;
}

.cancel-back-button {

}

#create-event-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100;
}

.error-message {
	color: red;
}

#edit-event-form {
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: -100;
}

#app-nav-placeholder {
	height: 35px;
	background-color: #428bca;
}

#new-event-placeholder {
	height: 50px;
	background-color: #428bca;
}

#delete-account-form {
	padding-top: 150px;
	padding-bottom: 50px;
}

#delete-account-link {
	text-align: center;
}

#delete-account-question {
	text-align: center;
}

.attending-event {
	background-color: #95DB8F;
}

div.event-object {
	position: relative;
	max-width: 400px;
}

button.edit-button {
	position: absolute;
	left: 10px;
	top: 10px;
}

img.user-tab-icon {
	max-height: 100px;
	max-width: 100px;
}

div.user-tab-centered {
	margin-top: 30px;
}

div.fitted-event {
	max-width: inherit;
	width: auto;
}

hr.divide-user-tabs {
	margin-top: 5px;
	margin-bottom: 5px;
}

li.no-tab-spacing {
	margin-top: 0px;
}

img.user-search-icon {
	max-height: 50px;
	max-width: 50px;
}

img.event-tab-icon {
	max-height: 75px;
	max-width: 75px;
}

img.edit-user-image {
	max-width: 200px;
	max-height: 200px;
}

.centered-search-tab-body {
	margin-top: 5px;
	margin-right: 5px;
	padding-left: 10px;
}

.lined-bottom {
	border-bottom: solid;
	border-width: 1px;
	border-color: #ddd;
}

.request-button {
	min-width: 80px;
}

.request-form {
	display: inline;
	max-width: 80px;
	padding: 0;
	margin: 0;
}

.event-media-list-spacing {
	padding-top: 10px;
}