<!DOCTYPE html>
<html>
<head>
  <title>Cs147GroupWebsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
